<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="/css/styles.css">
  <title>Document</title>
</head>

<body>
  <header class="header">
    <div class="container">
      <div class="container-head">
        <figure class="icono">
          <a href="/">
            <img src="/images/logo-mercado-liebre.svg" alt="mercado liebre">
          </a>
        </figure>
        <form class="form-buscar" action="">
          <input type="text">
          <button><i class="fas fa-search"></i></button>
        </form>
        <p><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p>
      </div>

      <nav class="nav-bar">
        <ul class="site">
          <li><a href="#">Ofertas</a></li>
          <li><a href="#">Tiendas Oficiales</a></li>
          <li><a href="#">Vender</a></li>
          <li><a href="#">Ayuda</a></li>
        </ul>
        <ul class="login">
          <li><a href="/crear-cuenta">Creá tu cuenta <i class="far fa-id-card"></i></a></li>
          <li><a href="/iniciar-sesion">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
          <li><a href="#">Mis Compras <i class="fas fa-shopping-basket"></i></a></li>
        </ul>
        <div class="burger-menu">
          <i class="fas fa-bars icon-burger"></i>
        </div>
    </div>

    </nav>
  </header>
  <section>
    <div class="headder__background">

    </div>
  </section>
  <main class="container">
    <h3 class="seccion__nombre">Basado en tu última visita</h3>
    <section class="section-visita">

      <article class="producto">
        <figure>
          <img src="/images/img-samsung-galaxy-s10.jpg" alt="">
        </figure>
        <div class="producto__descripcion product-desc-box">
          <i class="fas fa-truck product-delivery-icon product-delivery-icon"></i>
          <div>
            <p class="producto__precio">$6.7070</p>
            <p class="producto__descuento">40% OFF</p>
          </div>

          <p class="producto__nombre">Cafetera Moulinex</p>

        </div>
      </article>
      <article class="producto">
        <figure>
          <img src="/images/img-macbook-pro-2019.jpg" alt="">
        </figure>
        <div class="producto__descripcion product-desc-box">
          <i class="fas fa-truck product-delivery-icon"></i>
          <div>
            <p class="producto__precio">$230.000</p>
            <p class="producto__descuento">20% off</p>
          </div>
          <p class="producto__nombre">MacBook Pro 2019</p>
        </div>
      </article>
      <article class="producto">
        <figure>
          <img src="/images/img-samsung-galaxy-s10.jpg" alt="">
        </figure>
        <div class="producto__descripcion product-desc-box">
          <i class="fas fa-truck product-delivery-icon"></i>
          <div>
            <p class="producto__precio">$70.500</p>
            <p class="producto__descuento">10% OFF</p>
          </div>
          <p class="producto__nombre">Samsung Galaxy S10</p>
        </div>
      </article>
      <article class="producto">
        <figure>
          <img src="/images/img-tv-samsung-smart.jpg" alt="">
        </figure>
        <div class="producto__descripcion product-desc-box">
          <i class="fas fa-truck product-delivery-icon"></i>
          <div>
            <p class="producto__precio">$23.200</p>
            <p class="producto__descuento">5% off</p>
          </div>
          <p class="producto__nombre">SmartTv Samsung 43"</p>
        </div>
      </article>
    </section>
    <h3 class="seccion__nombre">Ofertas</h3>
    <section class="section-oferta">

      <article class="producto">
        <figure>
          <img src="/images/img-cafetera-moulinex.jpg" alt="">
        </figure>
        <div class="producto__descripcion product-desc-box">
          <i class="fas fa-truck product-delivery-icon"></i>
          <div>
            <p class="producto__precio">$6.770</p>
            <p class="producto__descuento">40% off</p>
          </div>
          <p class="producto__nombre">Cafetera Moulinex</p>
        </div>
      </article>
      <article class="producto">
        <figure>
          <img src="/images/img-macbook-pro-2019.jpg" alt="">
        </figure>
        <div class="producto__descripcion product-desc-box">
          <i class="fas fa-truck product-delivery-icon"></i>
          <div>
            <p class="producto__precio">$230.000</p>
            <p class="producto__descuento">20% off</p>
          </div>
          <p class="producto__nombre">MacBook Pro 2019</p>
        </div>
      </article>
      <article class="producto">
        <figure>
          <img src="/images/img-samsung-galaxy-s10.jpg" alt="">
        </figure>
        <div class="producto__descripcion product-desc-box">
          <i class="fas fa-truck product-delivery-icon"></i>
          <div>
            <p class="producto__precio">$70.500</p>
            <p class="producto__descuento">10% off</p>
          </div>
          <p class="producto__nombre">Samsung Galaxy S10</p>
        </div>
      </article>

      <article class="producto">
        <figure>
          <img src="/images/img-tv-samsung-smart.jpg" alt="">
        </figure>
        <div class="producto__descripcion product-desc-box">
          <i class="fas fa-truck product-delivery-icon"></i>
          <div>
            <p class="producto__precio">$23.200</p>
            <p class="producto__descuento">5% off</p>
          </div>
          <p class="producto__nombre">SmartTv Samsung 43"</p>
        </div>
      </article>

    </section>
  </main>
  <footer class="footer">
    <section>
      <i class="fas fa-credit-card"></i>
      <h3>Pagá con tarjeta o en efectivo</h3>
      <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
        puntos de pago. ¡Y siempre es seguro!</p>
    </section>
    <section>
      <i class="fas fa-gift"></i>
      <h3>Envío gratis desde $ 2.500</h3>
      <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
        productos. Es un beneficio de Mercado Puntos.</p>
    </section>
    <section>
      <i class="fas fa-user-shield"></i>
      <h3>Seguridad, de principio a fin</h3>
      <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
        porque estás siempre protegid@.</p>
    </section>
    <section class="copyright">
      <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </section>
  </footer>
</body>

</html>