/* Paleta de colores
Amarillo: #EAC926;
Azul: #03264C;
Celeste: #1259c3;
Gris oscuro: #666;
Gris claro: #ebebeb;
Verde: #39b54a; */
/* Tamaños Tipográficos
Cuerpos de texto: 12px
Titulares (Basado en tu última visita/Ofertas): 24px
Precios: 18px
Descuentos: 16px
Descripciones: 16px */
:root {
  --amarillo: #EAC926;
  --azul: #03264C;
  --celeste: #1259c3;
  --gris-oscuro: #666;
  --gris-claro: #ebebeb;
  --verde: #39b54a;
  --cuerpo-de-texto: 12px;
  --titulares: 24px;
  --precios: 18px;
  --descuentos: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  background-color: var(--gris-claro);
  font-family: 'Roboto', sans-serif;

}

a {
  text-decoration: none;
  color: #000;
}

img {
  max-width: 100%;
}

main section {
  margin: auto;
  width: 90%;
}

main section article {
  background-color: #fff;
  margin: 10px 0;
}

.header {
  background-color: var(--amarillo);
}

.headder__background {
  background-image: url(../images/img-home-banner.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  height: 150px;
  width: 100%;
}

.site,
.login {
  display: none;
}

.burger-menu {
  padding: 20px;
  text-align: center;
}

.icon-burger {
  background-color: var(--celeste);
  border-radius: 8px;
  color: #fff;
  font-size: 30px;
  padding: 15px;
}

.seccion__nombre {
  color: var(--gris-oscuro);
  font-size: 25px;
  margin-top: 20px;
}

.producto__descripcion {
  border-top: solid var(--gris-claro) 1px;
  padding: 15px;
}

.producto__descripcion i {
  border: solid var(--verde) 1px;
  border-radius: 50%;
  color: var(--verde);
  padding: 10px;
}

.producto__descuento {
  color: var(--verde);
}

.producto__precio {
  font-size: 20px;
  font-weight: 500;
}

.producto__nombre {
  color: var(--gris-oscuro);
  display: none;
  font-size: 18px;
  font-weight: 400;
  margin-top: 10px;
}

.footer {
  text-align: center;
}

.footer section {
  padding: 20px;
}

.footer section h3 {
  font-size: var(--descuentos);
}

.footer section p {
  font-size: var(--cuerpo-de-texto);
  color: var(--gris-oscuro);
}

.footer section i {
  color: #1259c3;
  font-size: 2em;
  margin-bottom: 10px;
}


.footer .copyright p {
  color: var(--gris-oscuro);
  font-size: var(--cuerpo-de-texto);
}

@media (min-width: 481px) {
  .producto__nombre {
    display: block;
  }
}

@media (min-width: 992px) {

  .site,
  .login {
    display: block;
  }

  .icon-burger {
    display: none;
  }

  main section article {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
  }

}

@media (min-width: 1200px) {}