/* Paleta de colores
Amarillo: #EAC926;
Azul: #03264C;
Celeste: #1259c3;
Gris oscuro: #666;
Gris claro: #ebebeb;
Verde: #39b54a; */
/* Tamaños Tipográficos
Cuerpos de texto: 12px
Titulares (Basado en tu última visita/Ofertas): 24px
Precios: 18px
Descuentos: 16px
Descripciones: 16px */
:root {
  --amarillo: #EAC926;
  --azul: #03264C;
  --celeste: #1259c3;
  --gris-oscuro: #666;
  --gris-claro: #ebebeb;
  --verde: #39b54a;
  --cuerpo-de-texto: 12px;
  --titulares: 24px;
  --precios: 18px;
  --descuentos: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  background-color: var(--gris-claro);
  font-family: 'Roboto', sans-serif;

}

a {
  text-decoration: none;
  color: #000;
}

img {
  max-width: 100%;
}

.container {
  margin: auto;
  width: 90%;
  padding-top: 5%;
}

main section article {
  background-color: #fff;
  margin: 10px 0;
}

.header {
  background-color: var(--amarillo);
}

.container-head {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.container-head p {
  text-align: center;
  width: 100%;
}

.form-buscar {
  align-self: center;
  display: flex;
}

.form-buscar button {
  background-color: #FFF;
  border: none;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  padding: 5px;
  width: 10%;
}

.icono,
.form-buscar {
  width: 50%;
}

.form-buscar input {
  border: none;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  width: 90%;
}

.headder__background {
  background-image: url(../images/img-home-banner.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  height: 150px;
  width: 100%;
}

.nav-bar {
  padding: 2% 0;
}

.site,
.login {
  display: none;
}

.burger-menu {
  padding: 20px;
  text-align: center;
}

.icon-burger {
  background-color: var(--celeste);
  border-radius: 8px;
  color: #fff;
  font-size: 20px;
  padding: 10px;
}

.seccion__nombre {
  color: var(--gris-oscuro);
  font-size: 25px;
  margin-top: 20px;
}

.producto__descripcion {
  border-top: solid var(--gris-claro) 1px;
  padding: 15px;
}

.product-desc-box {
  position: relative;
}

.producto__descripcion>div {
  display: flex;
  align-items: flex-end;
}

.producto__descripcion i {
  color: var(--verde);
}

.product-desc-box>.product-delivery-icon {
  display: block;
  font-size: 16px;
  padding: 5px;
  width: 30px;
  height: 30px;
  border: 1px solid var(--verde);
  background-color: #FFF;
  border-radius: 50%;
  position: absolute;
  right: 20px;
  top: -15px;
}

.producto__descuento {
  color: var(--verde);
  width: 70%;
}

.producto__precio {
  font-size: 20px;
  font-weight: 500;
  width: 30%;
}

.producto__nombre {
  color: var(--gris-oscuro);
  display: none;
  font-size: 18px;
  font-weight: 400;
  margin-top: 10px;
}

.footer {
  text-align: center;
}

.footer section {
  padding: 20px;
}

.footer section h3 {
  font-size: var(--descuentos);
}

.footer section p {
  font-size: var(--cuerpo-de-texto);
  color: var(--gris-oscuro);
}

.footer section i {
  color: #1259c3;
  font-size: 2em;
  margin-bottom: 10px;
}


.footer .copyright p {
  color: var(--gris-oscuro);
  font-size: var(--cuerpo-de-texto);
}

@media (min-width: 481px) {
  .producto__nombre {
    display: block;
  }




}

@media (min-width: 992px) {

  .icon-burger,
  .burger-menu {
    display: none;

  }

  .container-head {
    flex-wrap: nowrap;
  }

  .icono,
  .form-busca,
  .container-head p {
    align-self: center;
    width: 33%;

  }

  .nav-bar {
    display: flex;
    justify-content: space-between;
  }

  .site,
  .login {
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 40%;
  }



  main section article {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
  }

  .section-visita,
  .section-oferta {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .producto {
    width: 48%;
  }

}

@media (min-width: 1200px) {
  .producto {
    width: 23%;
  }
}